<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy</title>
    <link rel="stylesheet" type="text/css" href="../static/Login.css"/>
</head>
<body>

    <div id="login">
        <h1>Buying</h1>
        <form method="post" action="/Buy">
             <input type="text" required="required" placeholder="识别号" name="id"/>
            <input type="text" required="required" placeholder="收货地址" name="getAddress"/>
            <input type="text" required="required" placeholder="联系电话" name="telNumber"/>
            <button class="sub" type="submit">提交</button>
        </form>
    </div>

</body>
</html>